<a href="https://colab.research.google.com/github/Hongseok-kim/Python_Practice/blob/main/Python_Basic.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

Dictionaries

In [4]:
# Define two lists
Name = ['Mary', 'Mark', "Seyeon"]
Gender = ['Female', 'Male', 'Male']

# Index method

ind_mary = Name.index('Mary')
print(ind_mary)
print(Gender[ind_mary])

SyntaxError: invalid syntax (<ipython-input-4-de9861ba6359>, line 13)

In [13]:
# Define a dictionary

my_class = {'Mary':'Female', 'Mark':'Male', 'Seyeon':'Male'}
print(my_class)

{'Mary': 'Female', 'Mark': 'Male', 'Seyeon': 'Male'}

In [14]:
# keys in a dictionary and accessing values
print(my_class.keys())
print(my_class['Mark'])

dict_keys(['Mary', 'Mark', 'Seyeon'])
Male

Adding a key-value pair

In [15]:
my_class['Mina'] = 'Female'
print('Mina' in my_class)

True

Update and Removal items

In [16]:
print(my_class)
my_class['Seyeon'] = 'Female'
del(my_class['Mina'])
print(my_class)

{'Mary': 'Female', 'Mark': 'Male', 'Seyeon': 'Male', 'Mina': 'Female'}
{'Mary': 'Female', 'Mark': 'Male', 'Seyeon': 'Female'}

Dictionaries in a dictionary

In [20]:
my_class = {'Mary':{'Gender': 'Female', 'Hobby': 'Basketball'}, 'Mark':{'Gender': 'Male', 'Hobby': 'Reading'}, 'Seyeon':{'Gender': 'Male', 'Hobby': 'Puzzle'}}

In [18]:
print(my_class['Mary']['Hobby'])

Basketball

In [21]:
del(my_class['Seyeon']['Gender'])
print(my_class)

{'Mary': {'Gender': 'Female', 'Hobby': 'Basketball'}, 'Mark': {'Gender': 'Male', 'Hobby': 'Reading'}, 'Seyeon': {'Hobby': 'Puzzle'}}